<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-lg-6">
		  <div style="max-width:500px;">
			<img src="{{ site.url }}{{ site.baseurl }}/images/ku-logo.gif" width="100%" />
		  </div>
		</div>
		<div class="col-sm-6">
		  <span style="float: right;">
			Contact:<br />
			Oort building, Leiden University<br />
			Niels Bohrweg 2<br />
			2333 CA Leiden<br />
			Netherlands <br />
			  (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		  </span>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
