<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <a href="https://www.korea.ac.kr/" target="_blank"><img src="https://phseo.github.io/miil/images/ku-logo.png" width="175px" style="margin-top: 0px;" alt="Korea University"></a>
		</div>
		<div class="col-sm-4">
		  <p style="font-size: 12px; text-align: center;">
			Multimodal Interactive Intelligence Laboratory
			<br>
			Department of Computer Science and Engineering
			<br>
			College of Informatics
		  </p>
		</div>
		<div class="col-sm-4">
		  <p style="font-size: 12px; text-align: right;">
			<!--Science Library 309C, -->Korea University,
			<br>
			145 Anam-ro, Seongbuk-gu, Seoul, 02841, Korea
			<br>
			<!--+82-2-3333-2222-->
		  </p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
